argh
certifi
chardet
coreapi
coreschema
django-cors-headers
django-crispy-forms
django-filter
django-formtools
django-guardian
django-reversion
djangorestframework
djangorestframework-jwt
future
httplib2
idna
itypes
Jinja2
Markdown
MarkupSafe
mixin
mysqlclient
pathtools
Pillow
PyJWT
pytz
PyYAML
reload
requests
six
uritemplate
urllib3
watchdog
XlsxWriter
xlwt
